/* 全体 */
body {
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: "Helvetica Neue",
    Arial,
    "Hiragino Kaku Gothic ProN",
    "Hiragino Sans",
    Meiryo,
    sans-serif;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

/* ナビゲーションバー */
nav {
    width: 100vw;
}

.nav-link {
    cursor: pointer;
}

#portofolio_logo {
    cursor: pointer;
}

.navbar-nav {
    margin-top: 10px;
}

#bird {
    width: 100vw;
    position: relative;
    display: grid;
    place-items: center;
    height: 500px;
}

/* ヘッダー */

.header-img {
    position: relative;
    width: 100%;
    vertical-align: bottom;
}

.header-content {
    position: absolute;
    font-weight: bold;
    top: 60%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    margin: 0;
    padding: 0;
}

.header-content > h1 {
    font-size: 6em;
    color: #fff;
    font-family: 'Caveat', cursive;
}

.header-content > p {
    font-size: 3em;
    color: #fff;
    font-family: 'Caveat', cursive;
}

#portofolio_logo {
    font-size: 1.4em;
    margin-top: 10px;
    font-family: 'Caveat', cursive;
}

.slideContsL {
    transition: all 1s;
    opacity: 0;
    transform: translateX(-80px);
}

.slideContsR {
    transition: all 1s;
    opacity: 0;
    transform: translateX(80px);
}

.slideContsT {
    transition: all 1s;
    opacity: 0;
    transform: translateY(-80px);
}

.fadein {
    transform: translateX(0);
    opacity: 1;
}


/* プロフィール */

.profile {
    margin-top: 200px;
    background-color: #3B4552;
    padding-bottom: 50px;
}

.profile-wrapper {
    margin-top: 50px;
    display: flex;
    gap: 0 50px;
}

.profile-title {
    padding-top: 20px;
    padding-bottom: 5px;
    width: 130px;
    margin: 0 auto;
    text-align: center;
    border-bottom: solid 5px red;
}

.profile-title > h2 {
    margin: 0;
    font-size: 2em;
    color: #fff;
}

.profile-img {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-img > img {
    height: 500px;
    width: 400px;
    border-radius: 50%;
}

.profile-content {
    width: 50%;
}

.profile-content > .profile-introduce {
    width: 75%;
}

.profile-content > .profile-introduce >  h3 {
    color: #fff;
    font-size: 2em;
}

.profile-content > .profile-introduce > p {
    color: #fff;
}

.profile-content > .profile-hobby >  h3 {
    color: #fff;
    font-size: 2em;
}

.profile-content > .profile-hobby > p {
    color: #fff;
}

.profile-content > .profile-certification > h3 {
    font-size: 2em;
    color: #fff;
}

.profile-content > .profile-certification > ul > li {
    color: #fff;
}

.profile-content > .profile-certification > ul {
    padding: 0;
}

/* Skill */
.skill {
    background-color: black;
    padding-bottom: 50px;
    text-align: center;
}

.skill-title {
    padding-top: 20px;
    padding-bottom: 5px;
    width: 100px;
    margin: 0 auto;
    text-align: center;
    border-bottom: solid 5px red;
}

.skill-title > h2 {
    margin: 0;
    font-size: 2em;
    color: #fff;
}

.skill-list {
    width: 80%;
    margin: 50px auto;
    color: black;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    margin-right: 30px;
}

.skill > ul > li {
    height: 350px;
    width: 250px;
    border-radius: 5%;
    background-color: #fff;
    margin-right: 50x;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    box-shadow: 0 0 20px red;
}

.skill-item-content {
    text-align: center;
}

.skill-item-content > h3 {
    margin-top: 10px;
    font-size: 1.4em;
}

/* Work */
.work {
    background-color: #3B4552;
    padding-bottom: 50px;
}

.work-title {
    padding-top: 20px;
    padding-bottom: 5px;
    width: 130px;
    margin: 0 auto;
    text-align: center;
    border-bottom: solid 5px red;
}

.work-title > h2 {
    margin: 0;
    font-size: 2em;
    color: #fff;
}

.work-item {
    margin: 50px auto;
    text-align: center;
    position: relative;
    overflow:hidden;
    width: 60vw;
}

.work-item > a > img {
    width: 60vw;
}

.caption {
    position:absolute;
    left:0;
    top: 400px;
    background-color: rgba(0, 0, 0, 0.6);
    color:#fff;
    padding: 10px;
    text-align: center;
    width: 60vw;
    height: 100%;
}

/* Service */
.service {
    padding-bottom: 100px;
    background-color: black;
}

.service-title {
    padding-top: 20px;
    padding-bottom: 5px;
    width: 130px;
    margin: 0 auto;
    text-align: center;
    border-bottom: solid 5px red;
}

.service-title > h2 {
    margin: 0;
    font-size: 2em;
    color: #fff;
}

.title > h3 {
    font-size: 1.4em;
}

.service-wrapper {
    margin-top: 50px;
    display: flex;
    gap: 50px;
    justify-content: center;
}

.coding {
    background-color: #fff;
    width: 300px;
    padding: 20px;
    border-radius: 5%;
    box-shadow: 0 0 20px red;
}

.coding > .title {
    text-align: center;
}

.wordpress {
    background-color: #fff;
    width: 300px;
    padding: 20px;
    border-radius: 5%;
    box-shadow: 0 0 20px red;
}

.wordpress > .title {
    text-align: center;
}

.web_development {
    background-color: #fff;
    width: 300px;
    padding: 20px;
    border-radius: 5%;
    box-shadow: 0 0 20px red;
}

.web_development > .title {
    text-align: center;
}

.logo {
    text-align: center;
    font-size: 130px;
}

/* Contact */
.contact {
    background-color: #3B4552;
    padding: 50px 0;
    color: #fff;
}

.contact-wrapper {
    width: 80vw;
    margin: 0 auto;
}

.contact-title {
    padding-top: 20px;
    padding-bottom: 5px;
    width: 150px;
    margin: 0 auto;
    text-align: center;
    border-bottom: solid 5px red;
}

.contact-title > h2 {
    margin: 0;
    font-size: 2em;
}

.contact-form {
    width: 80vw;
    margin: 50px auto;
    padding-left: 40px;    
}

.contact-form > label {
    display: block;
    margin-bottom: 5px;
}

.contact-form > input {
    display: block;
}

.contact-form > .form-name {
    display: block;
    margin:0 auto;
    width: 40vw;
    height: 30px;
}

.contact-form > .form-email {
    display: block;
    margin: 0 auto;
    width: 40vw;
    height: 30px;
}

.contact-form > .content-form {
    display: block;
    margin: 0 auto;
    width: 40vw;
    height: 200px;
}

.contact-form > .submit-form {
    display: block;
    margin: 20px auto;
    width: 10vw;
    height: 40px;
}

.content {
    text-align: center;
}

.name {
    display: flex;
    gap: 0 15px;
    margin-bottom: 10px;
    justify-content: center;
}

.name > span {
    background-color: red;
    padding: 0px 10px;
    border-radius: 5%;
}

.email {
    display: flex;
    gap: 0 15px;
    margin: 10px 0;
    justify-content: center;
}

.email > span {
    background-color: red;
    padding: 0px 10px;
    border-radius: 5%;
}

.content {
    margin: 10px 0;
}

/* フッター */
footer {
    background-color: #F20505;
    text-align: center;
    color: #fff;
    padding: 20px 0;
    position: relative;
}

footer > p {
    margin: 0;
    font-size: 10px;
}

footer > .sns-link {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

footer > .sns-link > a {
    display: inline-block;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    border-radius: 50%;
    background-color: #FFFFFF;
    color: #F20505;
    font-size: 14px;
}

/* スマホ用デザイン */
@media screen and (max-width: 480px) {

    .header-content {
        top: 70%;
    }

    .header-content > h1 {
        font-size: 3em;
    }

    .header-content > p {
        font-size: 1.5em;
    }

    .profile-wrapper {
        flex-direction: column;
        justify-content: center;
    }

    .profile-img {
        margin: auto;
    }

    .profile-img > img {
        height: 300px;
        width: 300px;
    }

    .profile-content {
        margin: 30px auto;
        width: 75vw;
    }

    .profile-content > .profile-introduce > h3 {
        font-size: 1.4em;
    }

    .profile-content > .profile-introduce > p {
        font-size: 0.8em;
    }

    .profile-content > .profile-hobby > h3 {
        font-size: 1.4em;
    }

    .profile-content > .profile-hobby > p {
        font-size: 0.8em;
    }

    .profile-content > .profile-certification > h3 {
        font-size: 1.4em;
    }

    .profile-content > .profile-certification > p {
        font-size: 0.8em;
    }

    .skill-list {
        margin-right: 50px;
    }

    .skill-list {
        width: 100%;
        gap: 20px;
    }

    .skill-item-content > h3 {
        font-size: 14px;
    }

    .skill-item-logo > img {
        width: 50px;
        height: 50px;
    }

    .skill > ul > li {
        height: 120px;
        width: 80px;
    }

    .work-item {
        width: 80vw;
    }

    .work-item > a > img {
        width: 80vw;
    }

    .service-wrapper {
        flex-direction: column;
    }

    .coding {
        margin: 0 auto;
        width: 300px;
        height: 75vw;
        border-radius: 0%;
    }

    .title > h3 {
        font-size: 18px;
        font-weight: bold;
    }

    .wordpress {
        margin: 0 auto;
        width: 300px;
        height: 70vw;
        border-radius: 0%;
    }

    .web_development {
        margin: 0 auto;
        width: 300px;
        height: 70vw;
        border-radius: 0%;
    }

    .logo {
        height: 100px;
        position: relative;
    }

    .logo > i {
        font-size: 40px;
        position: absolute;
        top: 30px;
        left: 100px;
    }

    .content {
        text-align: left;
        width: 60vw;
        margin: 0 auto;
    }

    .content > p {
        font-size: 12px;
    }

    .contact-form {
        padding-left: 0px;
    }

    .contact-form > .form-name {
        width: 70vw;
    }

    .contact-form > .form-email {
        width: 70vw;
    }

    .contact-form > .content-form {
        width: 70vw;
    }

    .contact-form > .submit-form {
        width: 30vw;
    }
}
